@media (max-width: 1023px) {
    .nar-bar-btn {
        display: block;
        padding: 10px;
    }

    div.col-10 > img {
        display: none;
    }

    .nav-Bar-items {
        display: none;
    }
}




.nav-Bar-items-tablet {

}


@media (max-width: 1200px) {
/* Xử lý phần tablet cho thanh navbar */
    div.col-10 > img {
        display: none;
    }

    .nar-bar-btn {
        padding: 20px;
        display: block;
        margin: auto 0 auto 95%;
    }

    div.col-10  {
        margin: 0;
    }

    .col-90 {
        display: none;
    }

    .nav-overlay {
        z-index: 99999;
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    .col-90-tablet {
        display: block;
        z-index: 999999;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 320px;
        max-width: 100%;
        background-color: rgb(160, 156, 156);
        transform: translateX(100%);
        transition: transform linear 0.2s;
    }

    .nav-Bar-items-tablet {
        padding-top: 50px;
    }

    .nav-Bar-items-tablet > li {
        display: block;
        padding: 10px 0 10px 30px ;
    }

    .nav-Bar-items-tablet > li > a {
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
        color: var(--nav-color);
    }

    /* Xử lý phần menu con trong menu */
    .travel-tablet,
    .hotel-tablet {
        display: none;
    }

    .hotel-tablet > .hotel-items-tablet,
    .travel-items-tablet {
        margin-left: 30px;
    }

    .hotel-items-tablet > ul > li,
    .travel-items-tablet > ul > li {
        margin-top: 10px;
        padding: 5px 0;
    }

    .travel-items-tablet > ul > li > a,
    .hotel-items-tablet > ul > li > a {
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
        color: var(--nav-color);
    }

    .travel-items-tablet > ul > li > a:hover,
    .hotel-items-tablet > ul > li > a:hover {
        color: white;
    }

    .nav-Bar-items-tablet > li a:hover {
        color: white;
    }

    li.travel-main-tablet:hover div.travel-tablet,
    li.hotel-main-tablet:hover div.hotel-tablet {
        display: block;
    }

    /* Xử lý icon */
    .btnDelete-icon {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .btnDelete-icon i {
        font-size: 1.8rem;
        color: white;
    }

    /* Xử lý ẩn hiện */
    .check__input:checked ~ .nav-overlay {
        display: block;
    }

    .check__input:checked ~ .col-90-tablet {
        transform: translateX(0%);
    }

    .Tour-items {
        display: none;
    }

    /* Xử lý phần sản phẩm */
    .container1 {
        margin: 0 100px;
    }

    .row-SanPhamHot > div.col-30 {
        width: 39%;
        margin: 20px 40px;
    }

    #footer > div.container {
        margin-left: 0;
        margin-right: 0;
    }

    .col-20 {
        width: 23%;
    }

    .googlemap iframe {
        height: 200px;
        width: 400px;
        border-radius: 5px;
    }
}